body {
  background-color: #eef6f3;
}
.notes-list .list-group-item {
  border-left: 0;
  border-right: 0;
}
.notes-list .list-group-item:first-child {
  border-radius: 0;
}
.notes-list .list-group-item:last-child {
  border-radius: 0;
}
.notes-list button.list-group-item {
  border-top: 0;
}
.note-form .form-control {
  padding: .75rem 1.25rem;
  border: 0;
  border-radius: 0;
}
.note-form .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}
.note-form .full-note {
  border-top: 1px solid #ced4da;
  resize: none;
}
@media (min-width: 768px) {
  .notes-list {
    border-right: 1px solid #ced4da;
  }
}
