<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-shrink-0">
  <a class="navbar-brand" href="/">Notesk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li ng-hide="navvm.isLoggedIn" class="nav-item">
        <a class="nav-link" href="/login">Sign in</a>
      </li>
      <li ng-show="navvm.isLoggedIn" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ navvm.currentUser.name }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
          <button ng-click="navvm.logout()" class="dropdown-item">Log out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
