<navigation></navigation>
<div class="row flex-grow-1 overflow-auto no-gutters">
  <div class="col-md-4 col-xl-3 mh-100 overflow-auto">
    <div class="list-group notes-list">
      <button ng-click="vm.createNote()" type="button" class="list-group-item list-group-item-action">
        Add a blank note <span class="badge badge-pill badge-secondary">+</span>
      </button>
      <input ng-show="vm.notesList.length" ng-model="vm.filterList" class="list-group-item" type="text" placeholder="Start type here to filter notes">
      <a ng-repeat="note in vm.notesList | orderBy:'data.updatedAt':true | filter:vm.filterList" href="#" class="list-group-item list-group-item-action" ng-class="{active: vm.currentNote === note, 'list-group-item-warning': !note.saved }" ng-click="vm.setCurrentNote(note)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ note.data.name }}</h5>
          <small ng-class="{'text-muted': vm.currentNote !== note}">{{ note.data.updatedAt | date : 'H:mm d.MM.yyyy' }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <small ng-class="{'text-muted': vm.currentNote !== note}">
            {{ note.data.noteText | limitTo:40 }}
            <span ng-if="note.data.noteText.length > 40">...</span>
          </small>
          <div class="ml-1">
            <small ng-if="!note.saved && !note.isPending()">not saved</small>
            <div ng-if="note.isPending()">
              <small>being processed...</small>
              <div class="spinner-border spinner-border-sm" role="status"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="notes-list-alerts" role="alert">
      <div ng-if="vm.notesListPending" class="alert alert-secondary m-0 rounded-0">
        Loading the notes...
        <div class="spinner-border spinner-border-sm" role="status"></div>
      </div>
      <div ng-if="!vm.notesListPending && 0 === vm.notesList.length && !vm.errorMessage" class="alert alert-secondary m-0 rounded-0">The notes list is empty now.</div>
      <div ng-if="vm.errorMessage" class="alert alert-danger m-0 rounded-0">{{ vm.errorMessage }}</div>
    </div>
  </div>
  <div class="col-md-8 col-xl-9 mh-100 overflow-auto d-flex">
    <form ng-show="vm.currentNote" class="note-form flex-fill d-flex flex-column">
      <div class="d-flex">
        <input ng-model="vm.currentNote.data.name" ng-change="vm.currentNote.startEditing()" ng-disabled="vm.currentNote.pending.delete" class="form-control form-control-lg" type="text" placeholder="The note title placeholder">
        <button ng-click="vm.currentNote.save()" ng-disabled="vm.currentNote.isPending()" type="button" class="btn btn-light rounded-0 flex-shrink-0">Save</button>
        <button ng-click="vm.deleteNote(vm.currentNote)" ng-disabled="vm.currentNote.pending.delete" type="button" class="btn btn-light rounded-0 flex-shrink-0 bg-white">Delete</button>
      </div>
      <textarea ng-model="vm.currentNote.data.noteText" ng-change="vm.currentNote.startEditing()" ng-disabled="vm.currentNote.pending.delete" class="form-control full-note flex-grow-1" placeholder="The note full text placeholder"></textarea>
      <div ng-if="vm.currentNote.errorMessage" class="alert alert-danger m-0 rounded-0" role="alert">{{ vm.currentNote.errorMessage }}</div>
    </form>
  </div>
</div>
